@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

:root {
	--grey: #F5F5F5;
	--grey-1: #DDD;
	--grey-2: #888;
	--white: #FFF;
	--blue: #485BFF;
	--blue-1: #3344E1;
	--black: #222;
	--orange: #F5A810;
	--shadow: 0 4px 20px rgba(0,0,0,.05);
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--black);
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1rem;
	width: 100%;
	height: 100%;
}







/* GLOBAL STYLES */
header,
section {
	padding: 3rem 0;
	width: 100%;
}
.section__title {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: .5rem;
}
.section__detail {
	margin-bottom: 3rem;
	max-width: 768px;
}
.btn {
	padding: .75rem 1.25rem;
	border-radius: .25rem;
	border: none;
	cursor: pointer;
	transition: background .2s;
	outline: none;
	font-weight: 500;
	display: inline-block;
}
.btn-blue {
	background: var(--blue);
	color: var(--white);
}
.btn-blue:hover {
	background: var(--blue-1);
}
.btn-outline {
	padding: .75rem 1.25rem;
	border-radius: .25rem;
	border: 1px solid;
	cursor: pointer;
	transition: background .2s, color .2s;
	outline: none;
	font-weight: 500;
	display: inline-block;
}
.btn-outline-blue {
	border-color: var(--blue);
	color: var(--blue);
}
.btn-outline-blue:hover {
	background: var(--blue);
	color: var(--white);
}
/* GLOBAL STYLES */







/* NAVBAR */
nav {
	height: 5rem;
	border-bottom: 1px solid var(--grey);
	position: sticky;
	top: 0;
	background: var(--white);
	z-index: 999;
}
.nav__wrapper {
	display: flex;
	grid-gap: 3rem;
	align-items: center;
	height: 100%;
}
.nav__brand {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.nav__logo {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background: var(--blue);
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}
.nav__logo__name {
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--black);
}
.nav__list__wrapper {
	flex: 1 1 0;
}
.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__menu {
	display: flex;
	align-items: center;
	grid-gap: 2rem;
}
.nav__menu__item {
	color: var(--black);
	transition: color .2s;
}
.nav__menu__item:hover {
	color: var(--blue);
}
.nav__toggle {
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}
/* NAVBAR */







/* HEADER */
header {
	background: var(--grey);
}
.header__wrapper {
	display: flex;
	align-items: center;
	grid-gap: 4rem;
}
.header__content {
	flex: 1 1 0;
}
.header__title {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.header__title span {
	color: var(--blue);
}
.header__detail {
	margin-bottom: 2rem;
}
.header__content__form {
	display: flex;
	align-items: center;
	grid-gap: 1rem;
	background: var(--white);
	padding: 1rem;
	border-radius: .5rem;
	box-shadow: var(--shadow);
}
.form-group {
	flex: 1 1 0;
}
.form-group select {
	width: 100%;
	display: block;
	background: transparent;
	border: none;
	font-size: 1rem;
	outline: none;
}
.form-group label {
	display: inline-block;
	margin-bottom: .5rem;
	color: var(--grey-2);
	font-weight: 600;
	font-size: .875rem;
	margin-left: .25rem;
}
.header__image {
	flex: .6 1 0;
	position: relative;
}
.header__image img {
	width: 100%;
}
.header__image__content {
	position: absolute;
	top: 2rem;
	left: 0;
	background: var(--white);
	padding: 1rem;
	border-radius: .5rem;
	box-shadow: var(--shadow);
}
.header__image__item {
	display: flex;
	grid-gap: .5rem;	
}
.header__image__item:not(:last-child) {
	margin-bottom: 1rem;
}
.header__image__item__wrapper h4 {
	line-height: 1;
	margin-bottom: .25rem;
	font-size: 1.25rem;
}
.header__image__icon {
	font-size: 1.5rem;
	color: var(--blue);
}
/* HEADER */







/* ABOUT */
.about__wrapper {
	display: flex;
	align-items: center;
	grid-gap: 4rem;
}
.about__content {
	flex: 1 1 0;
}
.about__detail {
	margin-bottom: 1rem;
}
.about__image {
	flex: .6 1 0;
}
.about__image img {
	width: 100%;
}
.about__list {
	margin-bottom: 2rem;
}
.about__list li {
	font-weight: 500;
	margin-bottom: .75rem;
	display: flex;
	align-items: center;
	grid-gap: .5rem;
}
.about__item__icon {
	font-size: 1.5rem;
	color: var(--blue);
}
/* ABOUT */







/* DESTINATIONS */
.destinations__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.25rem;
}
.destinations__item {
	position: relative;
	overflow: hidden;
	border-radius: .5rem;
}
.destinations__item::before {
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(to top, var(--black), transparent);
}
.destinations__item:not(:nth-child(2)) {
	aspect-ratio: 16 / 9;
}
.destinations__item:nth-child(2) {
	grid-row: span 2;
}
.destinations__item img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.destinations__item__location {
	position: absolute;
	bottom: 0;
	padding: 1rem;
	z-index: 10;
	color: var(--white);
}
.destinations__item__location h4 {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: .25rem;
}
.destinations__item__location p {
	font-size: .875rem;
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
/* DESTINATIONS */







/* TESTIMONIAL */
#testimonial {
	background: var(--grey);
}
.testimonial__list {
	display: flex;
	grid-gap: 1.25rem;
}
.testimonial__item {
	padding: 1.5rem;
	background: var(--white);
	border-radius: .5rem;
	box-shadow: var(--shadow);
}
.testimonial__item__rating {
	color: var(--orange);
	display: flex;
	grid-gap: .5rem;
	font-size: 1.25rem;
	margin-bottom: 2rem;
}
.testimonial__item__text {
	margin-bottom: 2rem;
}
.testimonial__item__user {
	display: flex;
	align-items: center;
	grid-gap: 1rem;
}
.testimonial__item__user img {
	width: 3rem;
	height: 3rem;
	display: block;
	border-radius: 50%;
	object-fit: cover;
}
.testimonial__item__user__profile h4 {
	font-size: 1.125rem;
	font-weight: 600;
}
.testimonial__item__user__profile p {
	font-size: .875rem;
}
/* TESTIMONIAL */







/* BLOG */
.blog__list {
	display: flex;
	grid-gap: 1.25rem;
	overflow-x: auto;
	scrollbar-width: none;
	cursor: grab;
	scroll-snap-type: x;
	scroll-behavior: smooth;
}
.blog__list::-webkit-scrollbar {
	display: none;
}
.blog__item {
	min-width: 40%;
	scroll-snap-align: start;
}
.blog__item img {
	width: 100%;
	aspect-ratio: 3 / 2;
	border-radius: .5rem;
	display: block;
	margin-bottom: 1.5rem;
}
.blog__item__title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: .5rem;
}
.blog__item__description {
	margin-bottom: 2rem;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* BLOG */







/* SUBSCRIBE */
.subscribe__wrapper {
	background: var(--blue);
	padding: 2rem;
	border-radius: 1rem;
	color: var(--white);
}
.subscribe__wrapper .section__title,
.subscribe__wrapper .section__detail {
	text-align: center;
}
.subscribe__wrapper .section__detail {
	margin: 0 auto 3rem;
}
.subscribe__form {
	display: flex;
	grid-gap: 1rem;
	background: var(--white);
	max-width: 768px;
	margin: 0 auto;
	padding: .5rem;
	border-radius: .5rem;
}
.subscribe__form input {
	flex: 1 1 0;
	width: 100%;
	outline: none;
	border: none;
	padding: 0 1rem;
}
/* SUBSCRIBE */







/* FOOTER */
footer {
	padding: 2rem 0;
}
.footer__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__brand {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.footer__logo {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background: var(--blue);
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}
.footer__logo__name {
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--black);
}
.footer__social__link {
	display: flex;
	align-items: center;
	grid-gap: 1rem;
}
.footer__link {
	font-size: 1.25rem;
	color: var(--blue);
	transition: color .2s;
}
.footer__link:hover {
	color: var(--blue-1);
}
/* FOOTER */







/* BREAKPOINTS */
@media screen and (max-width: 1400px) {
	.container {
		max-width: 1200px;
	}
}







@media screen and (max-width: 1200px) {
	.container {
		max-width: 991px;
	}
}







@media screen and (max-width: 991px) {
	.container {
		max-width: 768px;
	}



	/* NAVBAR */
	.nav__list__wrapper {
		position: fixed;
		top: 5rem;
		background: var(--white);
		padding: 1rem 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity .2s;
		z-index: 999;
	}
	.nav__list__wrapper.show {
		opacity: 1;
		visibility: visible;
	}
	.nav__list,
	.nav__menu {
		flex-direction: column;
		align-items: flex-start;
		grid-gap: 1rem;
	}
	.nav__list {
		max-width: 768px;
		padding: 0 1rem;
		margin: 0 auto;
	}
	.nav__toggle {
		display: block;
		margin-left: auto;
	}
	/* NAVBAR */



	/* HEADER */
	.header__image {
		display: none;
	}
	/* HEADER */
}







@media screen and (max-width: 768px) {
	.container {
		max-width: 576px;
	}



	/* NAVBAR */
	.nav__list {
		max-width: 576px;
	}
	/* NAVBAR */



	/* ABOUT */
	.about__wrapper {
		flex-direction: column;
	}
	/* ABOUT */



	/* DESTINATIONS */
	.destinations__list {
		grid-template-columns: 1fr;
	}
	.destinations__item:nth-child(2) {
		grid-row: unset;
		aspect-ratio: 16 / 9;
	}



	/* TESTIMONIAL */
	.testimonial__list {
		flex-direction: column;
	}
	/* TESTIMONIAL */



	/* BLOG */
	.blog__item {
		min-width: 70%;
	}
	/* BLOG */




	/* FOOTER */
	.footer__wrapper {
		flex-direction: column;
		grid-gap: 1.5rem;
	}
}







@media screen and (max-width: 576px) {
	/* HEADER */
	.header__content__form {
		flex-direction: column;
		align-items: flex-start;
	}
	.form-group {
		width: 100%;
	}
	/* HEADER */



	/* BLOG */
	.blog__item {
		min-width: 90%;
	}
	/* BLOG */
}
/* BREAKPOINTS */
